In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import csv
from scipy.stats import linregress

In [12]:
# data for population

pop_sandy = "./CleanEconData/Sandy_cln_population.csv"
pop_sandy_df = pd.read_csv(pop_sandy)
pop_sandy_df = pop_sandy_df[['Location','Population','Delta']]

pop_rita = "./CleanEconData/rita_cln_population.csv"
pop_rita_df = pd.read_csv(pop_rita)
pop_rita_df = pop_rita_df[['Location','Population','Delta']]

pop_katrina = "./CleanEconData/katrina_cln_population.csv"
pop_katrina_df = pd.read_csv(pop_katrina)
pop_katrina_df = pop_katrina_df[['Location','NORPOP','Delta']]

pop_ike = "./CleanEconData/Ike_Pop_df.csv"
pop_ike_df = pd.read_csv(pop_ike)
pop_ike_df = pop_ike_df[['Location','Population','Delta']]


pop_ike_df.head()

,Unnamed: 0,DATE,Population,Hurricane,Hurricane Date,Location,Delta
0,0,2001-01-01,254.502,Ike,2008-09-13,Galveston,-7
1,1,2002-01-01,260.034,Ike,2008-09-13,Galveston,-6
2,2,2003-01-01,265.120,Ike,2008-09-13,Galveston,-5
3,3,2004-01-01,269.458,Ike,2008-09-13,Galveston,-4
4,4,2005-01-01,274.354,Ike,2008-09-13,Galveston,-3