In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import csv
from scipy.stats import linregress

In [2]:
# data for population from all hurricanes

pop_sandy = "./CleanEconData/Sandy_cln_population.csv"
pop_sandy_df = pd.read_csv(pop_sandy)
pop_sandy_df = pop_sandy_df[['Location','Hurricane','Population','Delta']]

pop_rita = "./CleanEconData/rita_cln_population.csv"
pop_rita_df = pd.read_csv(pop_rita)
# pop_rita_df = pop_rita_df[['Location','Hurricane','Population','Delta']]

pop_rita_df.head()

# pop_katrina = "./CleanEconData/katrina_cln_population.csv"
# pop_katrina_df = pd.read_csv(pop_katrina)
# pop_katrina_df = pop_katrina_df[['Location','Hurricane','Population','Delta']]

# pop_ike = "./CleanEconData/Ike_cln_population.csv"
# pop_ike_df = pd.read_csv(pop_ike)
# pop_ike_df = pop_ike_df[['Location','Hurricane','Population','Delta']]

# pop_ivan = "./CleanEconData/Ivan_cln_population.csv"
# pop_ivan_df = pd.read_csv(pop_ivan)
# pop_ivan_df = pop_ike_df[['Location','Hurricane','Population','Delta']]

,Unnamed: 0,DATE,TXHARR1POP,Hurricane,Hurricane Date,Location,Delta
0,31,2001-01-01,3483.804,Rita,2005-09-18,Houston Area,-4
1,32,2002-01-01,3559.095,Rita,2005-09-18,Houston Area,-3
2,33,2003-01-01,3618.297,Rita,2005-09-18,Houston Area,-2
3,34,2004-01-01,3672.286,Rita,2005-09-18,Houston Area,-1
4,35,2005-01-01,3733.714,Rita,2005-09-18,Houston Area,0

In [ ]:
#merge on Delta with value between -4 and 10

pop_merge_df = pd.concat([pop_sandy_df,pop_rita_df, pop_katrina_df,pop_katrina_df,pop_ike_df ])

pop_merge_df = pop_merge_df[pop_merge_df['Delta'].between(-4,7)]

pop_merge_df.head()

In [ ]:
pop_merge_df = pop_merge_df.pivot_table( values = 'Population', index=['Delta'], columns = 'Hurricane').reset_index()

In [ ]:
pop_merge_df.plot(x = 'Delta')
plt.title('Population Changes Around Hurricane')
plt.xlabel('Years Before and After Hurricanes')
plt.ylabel('Population (in thousands)')